.footer__container {
    font-family: var(--montserrat);
    color: rgb(255, 255, 255);
    background-image: url('../../../public/imagens/fundo.png');
    
    background-color: #6278F7;
    height: 213px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    gap: 1rem;
}

.footer__socials {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__socials {
    margin: 0;
}

.footer__socials li {
    padding-right: 8%;
}

.footer__socials img {
    width: 28px;
    height: auto;
}

.footer__logo {
    display: flex;
    justify-content: center;
}

.footer__logo img {
    width: 100%;
    max-width: 150px;
    min-width: 80px;
    height: auto;
}

.footer__label {
    margin: 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .footer__container {
        height: 130px;
    }
    
    .footer__container img{
        width: 50%;
    }

    .footer__label {
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (min-width: 1201px) {
    .footer__container img{
        width: 80%;
    }
}