.time__section {
    text-align: center;
    padding-bottom: 36px;
}

.time__section h1 {
    padding-top: 50px;
    font-family: var(--prata);
    display: inline-block;
    border-bottom: 4px solid;
}