.ListaSuspensa__container {
    padding-top: 5%;
}

.ListaSuspensa__label {
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.ListaSuspensa__select {
    height: 100px;
    box-shadow: 0 12px 12px rgba(0,0,0,0.1);
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    
    .ListaSuspensa__container {
        padding-bottom: 10%;
    }

    .ListaSuspensa__label {
        font-size: 15px;   
    }

    .ListaSuspensa__select {
        height: 50px;
        width: 100%;
    }

}