.colaborador {
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    width: 280px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: auto;
    margin-bottom: 32px;
    font-family: var(--montserrat);
}

.cabecalho {
    height: 100px;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.imagem {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
}

.rodape {
    padding-top: 60px;
    padding-bottom: 20px;
}

.rodape h4 {
    margin: 12px 0 6px 0;
    color: #6278F7;
    font-weight: bold;
}

.rodape h5 {
    margin: 0;
    font-weight: 400;
    color: #333;
}
