.Botao__button {
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: #6278F7;
    width: 100%;
    max-width: 167px;
    height: 80px;
    margin-bottom: 5%;
    margin-top: 25px;
}

.Botao__button:hover {
    color: #95FFD4;
}

@media screen and (max-width: 768px) {
    
    .Botao__button {
        margin-top: 0px;
        font-size: 13px;
        width: 40%;
        height: 55px;
    }

}