.Botao__button {
  font-size: 20px;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  color: white;
  background-color: #6278f7;
  width: 718px;
  max-width: 718px;
  height: 80px;
  margin-bottom: 5%;
  margin-top: 7%;
}

.Botao__button:hover {
  color: #95ffd4;
  background-color: #3553fc;
}

@media screen and (max-width: 768px) {
  .Botao__button {
    margin-top: 0px;
    font-size: 13px;
    width: 40%;
    height: 55px;
  }
}
